.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  width: 30%;
  height: 60px;
  border: 1px solid rgb(175, 45, 45);
  border-radius: 10px;
  margin-bottom: 20px;
}

.add-button {
  height: 40px;
  width: 100px;
  border-radius: 6px;
  background-color: rgb(88, 88, 148);
  border-style: none;
  color: white;
}
.add-button:hover {
  background-color: rgb(221, 51, 144);
  color: bisque;
}

.items-container {
  background-color: azure;
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
}
